.prompt {
  background-color: #303030;
  display: flex;
  padding: 5px;

  & > .icon {
    border-right: 1px solid white;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0 10px;
    user-select: none;
  }

  & > .input {
    background: none;
    border: none;
    color: white;
    flex: 1;
    outline: none;
  }

}
