.property {
  color: #eee;
  display: flex;
  flex-direction: column;

  & > .title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  & > .content {
    display: flex;
    align-items: center;

    & > .icon {
      margin-right: 5px;
    }
  }

}
